<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page Name - Walter Creations</title>

  <!-- Global Styles -->
  <link rel="stylesheet" href="global.css">
  <!-- Page Specific Styles -->
  <link rel="stylesheet" href="page_name.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&family=DM+Sans:ital,wght@0,400;0,600;0,700;0,800;1,700&display=swap" rel="stylesheet">
</head>

</head>

<body>
  <!-- Navbar -->
  <div id="navbar"></div>

  <main class="page-name-page">

    <!-- Page content goes here -->

  </main>

  <!-- Footer -->
  <div id="footer"></div>

  <!-- Global JS (navbar + footer + dark mode) -->>
  <script src="global.js"></script>
  <!-- Page Specific JS (if applicable)-->
  <script src="page_name.js"></script>
</body>
</html>